doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    |     
    title
  body
    p &#x753B;&#x5E03;
    |     
    canvas#canvas
      | &#x5F53;&#x524D;&#x6D4F;&#x89C8;&#x5668;&#x4E0D;&#x652F;&#x6301;Canvas&#xFF0C;&#x8BF7;&#x66F4;&#x6362;&#x6D4F;&#x89C8;&#x5668;&#x540E;&#x518D;&#x8BD5;
    p &#x8C22;&#x8C22;
    p &#x8C22;&#x8C22;
    |     
    script(src='digit.js')
    |     
    script(src='countdown.js')
